.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  opacity: 1;
  margin: 0 0 1rem;
  background-color: black;
  overflow: hidden;
  border-bottom: yellow;
  border-top: black;
  border-left: black;
  border-right: black;
  border-style: solid;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-weight: 700;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.nav-title:hover {
  background-color: #f2f2f2;
  color: #000
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #f2f2f2;
  color: #000
}
